@import 'variables';
@import 'buttons';
@import 'list';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: @darkGrey;
    font-size: 14px;
}

h1 {
    margin: 0;
    font-size: 32px;
    font-weight: 700;
}

.wrapper {
    width: 100%;
    max-width: 920px;
    margin: 40px auto;
}

.page-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

#editor {
    height: 60vh;
}
