<header class="page-header">
    <h1>Conversions</h1>
    <a href="#!new" class="button button--cta"><svg class="icon icon-plus"><use xlink:href="#icon-plus"></use></svg>New Conversion</a>
</header>
<header class="list list-header">
    <article class="list__item list__item--large">Name</article>
    <article class="list__item">Created At</article>
    <article class="list__item list__item--small">Type</article>
    <article class="list__item list__item--small">Status</article>
    <article class="list__item"></article>
</header>
<section class="list">
    <article class="list__item list__item--large">Down the rabbit hole</article>
    <article class="list__item">Sun, Jan 1</article>
    <article class="list__item list__item--small"><label class="list__item--type">PDF</label></article>
    <article class="list__item list__item--small"><svg class="icon icon-checked"><use xlink:href="#icon-checked"></use></svg>Processed</article>
    <article class="list__item"><button class="button button--download"><svg class="icon icon-download"><use xlink:href="#icon-download"></use></svg>Download</article>
    <article class="list__item list__item--large">Down the rabbit hole</article>
    <article class="list__item">Sun, Jan 1</article>
    <article class="list__item list__item--small"><label class="list__item--type">PDF</label></article>
    <article class="list__item list__item--small"><svg class="icon icon-clock"><use xlink:href="#icon-clock"></use></svg>In Queue</article>
    <article class="list__item"><button class="button button--download" disabled>Not ready yet</article>
</section>
