<header class="page-header">
    <h1>New Conversion</h1>
    <a href="#!" class="button button--cta"><svg class="icon icon-list"><use xlink:href="#icon-list"></use></svg>Show All</a>
</header>
<label for="conv-name">Name</label>
<input id="conv-name" class="input" type="text" ng-model="$ctrl.convName" placeholder="Enter a name for your text" />
<section>
    <div id="editor"></div>
</section>
<div class="button-row">
    <button class="button" ng-click="$ctrl.convert('html')">Generate HTML</button>
    <button class="button" ng-click="$ctrl.convert('pdf')">Generate PDF</button>
</div>
